# Algorithm
algorithms

# Notebook
marimo[recommended]

# Web
sqlmodel
playwright

# Data Science
polars[all]
pyspark
itables
pydantic-ai
ultraplot
plotnine

# Deep Learning
jax
torch
lightning[extra]
torchvision
tensorboard
torch-tb-profiler
triton
onnx
safetensors

# LLM
torchao
torchtune
torchtext
xformers
transformers[torch]
bitsandbytes
diffusers
accelerate
tiktoken
einops
transformers_stream_generator
huggingface_hub[cli]

# Reinforcement Learning
stable-baselines3
gymnasium

# Finance
backtrader
yfinance
pandas-datareader
fredapi
opendartreader
