# Algorithm
algorithms

# Interactive Development
marimo[recommended]

# Web
sqlmodel
playwright

# Data Science
polars[all]
pyspark
itables
pydantic-ai
plotnine

# Deep Learning
jax
torch
lightning
torchtext
torchvision
transformers
triton
onnx

# Reinforcement Learning
stable-baselines3
gymnasium

# Finance
backtrader
yfinance
pandas-datareader
fredapi
opendartreader
