# Jupyterlab
jupyterlab
jupyterlab-lsp
jupyterlab_widgets
jupyterlab-spreadsheet-editor

# Data Science
polars[all]
pyspark

# Deep Learning
torch
lightning
torchtext
torchvision
jax
triton
onnx
transformers

# 3D
bpy
trimesh

# Finance
backtrader
skfolio
yfinance
pandas-datareader
openbb
